<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
        <div class="header">

            
        
            <div class="heading">
                <h1>SUZA DAMAGE ASSET REPORT SYSTEM</h1> 
            </div>
        
        </div>
    <div class="container">
        <p>Our vision<br>

            To be the preferred higher institution of learning and research in Eastern Africa.
            
           <br> Our mission<br>
            
            To offer quality and broadly relevant education and research in order to develop a knowledge-based society that can tackle the challenge of 21st century and beyond.
            
           <br> Motto<br>
            
            SUZA is a catalyst for social changes.<br>
            
           <br> Core values<br>
            
            ▪ Embrace and drive changes<br>
           <br> ▪ Teamwork<br>
            Build an open and honest community<br>
            <br>▪ Freedom of thought and expression
            ▪ Punctuality and quality<br>
            <br>▪ Action oriented
            ▪<br> Good Intentions<br>
            ▪ Patriotism</p>
        </div>
    </div>
            <div class="img">
                <img src="image/chair.png">
            </div>

            
    

    
    <div class="item">
        <h1>about this system</h1>
    <p>•	To put report of all damage asset<br> 
       <br> •	To register all damaged asset 
      <br>  •	To maintain report of all damaged asset<br >
       <br> •	To view details  for example chairs projector are damaged for recovering 
        <br>•	To take all report of damaged asset <br>	
        <br>•	Easily to interface between developer and users when some asset in certain class or office or laboratory can be computing or science. 
        
        </p>
    </div>
</body>
</html>