<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serch</title>
</head>
<body>
    <div class="search"
    
    <form action="#" th:action="@{/saveuser}"th:object="${user}"method="GET">   
    <input type= "text" th:field="*{name}" placeholder=" enter your name">
    <input type= "text" th:field="*{username}" placeholder=" enter your username">
    <input type= "text" th:field="*{password}" placeholder="enter your password">
    <input type= "text" th:field="*{Address}" placeholder="enter your Address">
    <input type= "text" th:field="*{regno}"placeholder="enter your reg no">
    <input type= "text" th:field="*{role}" placeholder="enter your Role">
    <div class="button">
        </div>
</body>
</html>